/.bundle
/vendor/bundle

/log/*
!/log/.keep
/tmp/*
!/tmp/.keep

.sass-cache/
public/assets/*

.yarn-integrity
node_modules/
/yarn-error.log
.byebug_history

.DS_Store
*/.DS_Store

storage/*
!/storage/.keep

config/master.key
config/credentials/*.key

*.sublime-*